
<!-- Modal -->
<div class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="btn-close closemodal" aria-hidden="true">&times;</a>
        </div>
        <div class="modal-body">

            <label for="textarea_tweet_reply"></label>
            <input id="textarea_tweet_reply"  type="text" name="tweet_reply" placeholder="Tweet your reply" size="20"
                                                             style="color: black"/>
        </div>
        <div class="modal-footer">

            <button type="submit" id="btn_tweet_reply">Commenter</button>
        </div>
    </div>
</div>
