{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="content">
        <div id="homeDiv" class='sticky'><span id="contentHome" class='font20bold'>Home</span></div>
        <div id='whatsHappening'>
            <div id='whatsHapIcon'><i class="far fa-user-circle"></i></div>
            <div id='tweetEditor'>
                <span class="textarea" role="textbox" contenteditable></span>
                <div id='tweetIcons'>
                    <div id='tweetIconsLeft'>
                        <i class="far fa-image hoverDarkBackground"></i>
                        <i class="fab fa-git-square hoverDarkBackground"></i>
                        <i class="far fa-chart-bar hoverDarkBackground"></i>
                        <i class="far fa-smile hoverDarkBackground"></i>
                    </div>
                    <div id='tweetIconsRight'>
                        <i class="fas fa-plus hoverDarkBackground"></i>
                        <div id='publishTweet' class='font20bold'>Tweet</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor. Integer ac tortor sit amet ligula consequat blandit in sed nisi.
                    Vestibulum non finibus nisi. Sed egestas, felis
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor. Integer ac tortor sit amet ligula consequat blandit in sed nisi.
                    Vestibulum non finibus nisi. Sed egestas, felis sit amet bibendum varius, magna urna mollis
                    quam, vitae interdum leo risus id justo. Cras sed eros pretium, pretium nisi sit amet, commodo
                    nisl. Duis commodo egestas congue. Maecenas quis purus ut sapien tempus mollis sed eu lectus.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor. Integer ac tortor sit amet ligula consequat blandit in sed nisi.
                    Vestibulum non finibus nisi. Sed egestas, felis sit amet bibendum varius, magna urna mollis
                    quam, vitae interdum leo risus id justo. Cras sed eros pretium, pretium nisi sit amet, commodo
                    nisl. Duis commodo egestas congue. Maecenas quis purus ut sapien tempus mollis sed eu lectus.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor. Integer ac tortor sit amet ligula consequat blandit in sed nisi.
                    Vestibulum non finibus nisi. Sed egestas, felis sit amet bibendum varius, magna urna mollis
                    quam, vitae interdum leo risus id justo. Cras sed eros pretium, pretium nisi sit amet, commodo
                    nisl. Duis commodo egestas congue. Maecenas quis purus ut sapien tempus mollis sed eu lectus.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        <div class='individualTweet'>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'>Giamblers</div>
                    <div class="individualUsername">@Giamblers</div>
                    <div class='dot'></div>
                    <div class="time">15s</div>
                </div>
                <div class="individualText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    vestibulum feugiat iaculis. Nunc maximus ultrices tristique. In nec tristique velit. Curabitur
                    aliquet tempus porta. Suspendisse commodo rhoncus massa et aliquam. Donec molestie nisi sit amet
                    mauris rutrum porttitor. Integer ac tortor sit amet ligula consequat blandit in sed nisi.
                    Vestibulum non finibus nisi. Sed egestas, felis sit amet bibendum varius, magna urna mollis
                    quam, vitae interdum leo risus id justo. Cras sed eros pretium, pretium nisi sit amet, commodo
                    nisl. Duis commodo egestas congue. Maecenas quis purus ut sapien tempus mollis sed eu lectus.
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'>100</span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'>100</span></div>
                    <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                class='individualNumber' id='likes'>100</span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
